MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/Info.plist
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MacOS/MonoGameSetupTutorial
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/Lidgren.Network.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoGame.Framework.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoGameSetupTutorial.exe
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoGameSetupTutorial.exe.mdb
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoMac.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/Tao.Sdl.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/Tao.Sdl.dll.config
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.exe
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.exe.mdb
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoMac.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/Tao.Sdl.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/Tao.Sdl.dll.config
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/stderr.log
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/stdout.log
MonoGameSetupTutorial/MonoGameSetupTutorial/obj/Debug/monomac_dll_content_processed
MonoGameSetupTutorial/MonoGameSetupTutorial/obj/Debug/monomac_version
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.exe
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.exe.mdb
MovementTutorial/MovementTutorial/bin/Debug/Tao.Sdl.dll
MovementTutorial/MovementTutorial/bin/Debug/Tao.Sdl.dll.config
MovementTutorial/MovementTutorial/bin/Debug/stderr.log
MovementTutorial/MovementTutorial/bin/Debug/stdout.log
MovementTutorial/MovementTutorial/obj/Debug/monomac_dll_content_processed
MovementTutorial/MovementTutorial/obj/Debug/monomac_version
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/Info.plist
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MacOS/MovementTutorial
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/Lidgren.Network.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MonoGame.Framework.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MonoMac.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MovementTutorial.exe
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MovementTutorial.exe.mdb
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/Tao.Sdl.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/Tao.Sdl.dll.config
MovementTutorial/MovementTutorial/bin/Debug/Lidgren.Network.dll
MovementTutorial/MovementTutorial/bin/Debug/MonoGame.Framework.dll
MovementTutorial/MovementTutorial/bin/Debug/MonoMac.dll
