MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/Info.plist
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MacOS/MonoGameSetupTutorial
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/Lidgren.Network.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoGame.Framework.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoGameSetupTutorial.exe
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoGameSetupTutorial.exe.mdb
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/MonoMac.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/Tao.Sdl.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.app/Contents/MonoBundle/Tao.Sdl.dll.config
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.exe
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoGameSetupTutorial.exe.mdb
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/MonoMac.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/Tao.Sdl.dll
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/Tao.Sdl.dll.config
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/stderr.log
MonoGameSetupTutorial/MonoGameSetupTutorial/bin/Debug/stdout.log
MonoGameSetupTutorial/MonoGameSetupTutorial/obj/Debug/monomac_dll_content_processed
MonoGameSetupTutorial/MonoGameSetupTutorial/obj/Debug/monomac_version
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.exe
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.exe.mdb
MovementTutorial/MovementTutorial/bin/Debug/Tao.Sdl.dll
MovementTutorial/MovementTutorial/bin/Debug/Tao.Sdl.dll.config
MovementTutorial/MovementTutorial/bin/Debug/stderr.log
MovementTutorial/MovementTutorial/bin/Debug/stdout.log
MovementTutorial/MovementTutorial/obj/Debug/monomac_dll_content_processed
MovementTutorial/MovementTutorial/obj/Debug/monomac_version
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/Info.plist
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MacOS/MovementTutorial
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/Lidgren.Network.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MonoGame.Framework.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MonoMac.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MovementTutorial.exe
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/MovementTutorial.exe.mdb
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/Tao.Sdl.dll
MovementTutorial/MovementTutorial/bin/Debug/MovementTutorial.app/Contents/MonoBundle/Tao.Sdl.dll.config
MovementTutorial/MovementTutorial/bin/Debug/Lidgren.Network.dll
MovementTutorial/MovementTutorial/bin/Debug/MonoGame.Framework.dll
MovementTutorial/MovementTutorial/bin/Debug/MonoMac.dll
RedButtonGame/RedButtonGame/bin/Debug/Content/RedButton.xnb
RedButtonGame/RedButtonGame/bin/Debug/Game1.cs
RedButtonGame/RedButtonGame/bin/Debug/Lidgren.Network.dll
RedButtonGame/RedButtonGame/bin/Debug/MonoGame.Framework.dll
RedButtonGame/RedButtonGame/bin/Debug/MonoMac.dll
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/Info.plist
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MacOS/RedButtonGame
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/Content/RedButton.xnb
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/Game1.cs
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/Lidgren.Network.dll
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/MonoGame.Framework.dll
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/MonoMac.dll
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/RedButtonGame.exe
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/RedButtonGame.exe.mdb
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/Tao.Sdl.dll
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/MonoBundle/Tao.Sdl.dll.config
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/Resources/Content/RedButton.xnb
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.app/Contents/Resources/Content/logo.png
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.exe
RedButtonGame/RedButtonGame/bin/Debug/RedButtonGame.exe.mdb
RedButtonGame/RedButtonGame/bin/Debug/Tao.Sdl.dll
RedButtonGame/RedButtonGame/bin/Debug/Tao.Sdl.dll.config
RedButtonGame/RedButtonGame/bin/Debug/stderr.log
RedButtonGame/RedButtonGame/bin/Debug/stdout.log
RedButtonGame/RedButtonGame/obj/Debug/monomac_dll_content_processed
RedButtonGame/RedButtonGame/obj/Debug/monomac_version
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/Info.plist
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MacOS/FredTheDead
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/FredTheDead.exe
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/FredTheDead.exe.mdb
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/Lidgren.Network.dll
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/MonoGame.Framework.dll
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/MonoMac.dll
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/Tao.Sdl.dll
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/MonoBundle/Tao.Sdl.dll.config
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/Resources/Content/fred.png
FredTheDead/FredTheDead/bin/Debug/FredTheDead.app/Contents/Resources/Content/logo.png
FredTheDead/FredTheDead/bin/Debug/FredTheDead.exe
FredTheDead/FredTheDead/bin/Debug/FredTheDead.exe.mdb
FredTheDead/FredTheDead/bin/Debug/Lidgren.Network.dll
FredTheDead/FredTheDead/bin/Debug/MonoGame.Framework.dll
FredTheDead/FredTheDead/bin/Debug/MonoMac.dll
FredTheDead/FredTheDead/bin/Debug/Tao.Sdl.dll
FredTheDead/FredTheDead/bin/Debug/Tao.Sdl.dll.config
FredTheDead/FredTheDead/bin/Debug/stderr.log
FredTheDead/FredTheDead/bin/Debug/stdout.log
FredTheDead/FredTheDead/obj/Debug/monomac_dll_content_processed
FredTheDead/FredTheDead/obj/Debug/monomac_version
